header {
  background-color: #87719D;
  color: white;
  margin-bottom: 2rem;
  padding: 2rem 0;
  text-align: center;
}

form {
  margin: 4.6rem auto;
  max-width: 90rem;
  max-width: 75ch;
  padding: 0 2rem;
  border: solid 2px #BF84AB;
  border-radius:25px;
  box-shadow: 10px -9px 3px  #A67294;
  -moz-box-shadow: 10px -9px 3px  #A67294;
  -webkit-box-shadow: 10px -9px 3px  #A67294;
  -o-box-shadow: 10px -9px 3px  #A67294;
}


.form-control {
  margin: 2rem; 
}

.form-control > * + *,
.form-control__radio + .form-control__radio {
  margin-top: 0.5rem;
}

.form-control__radio > label {
	margin-left: 4px;
}

.form-control__text > textarea {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control__text > label {
  display: table;
  font-weight: 600;
}

.result {
  display: block;
  overflow: auto;
  text-align: left;
  white-space: pre;
}

.u-mt-3 {
  margin-top: 3rem;
}

.submit-button{
  margin-left: 2rem;
}